<%= form_with(model: note) do |form| %>
  <% if note.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title , placeholder:"Heading"%>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body,placeholder:"Note body" %>
  </div>
  <div>
    <%= form.label :tags, style: "display: block" %>
    <%= form.text_field :tags ,multiple: true, placeholder:"Add tags" %>
  </div>
     <div>
      <%= form.label :attachments, style:"display:block"%>
    <%= form.file_field :attachments, multiple: true %>
</div>
  <!--div for taking reminder input -->
  <div>
    <%= form.label :reminder, style: "display: block" %>
    <%= form.datetime_local_field :reminder ,placeholder:"Add reminder" %>
  <div>
    <%= form.hidden_field :user_id, value:current_user.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
