<div id="<%= dom_id(note) %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= note.body %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= note.tags.join(", ") %>
  </p>
  <p>
    <%= link_to 'Generate Summary', summarize_note_path(note), method: :get, remote: true %>
  <!-- Add a container for the summary -->
  <div id="summary-container">
  <%= render partial: 'summary', locals: { summary: @summary } %>
  </div>
  </p>

  <% if note.reminder.present? %>
    <p>
      <strong>Reminder:</strong>
      <%= note.reminder %>
    </p>
  <% end %>

  <% note.attachments.each do |attachment| %>
    <% if attachment.blob.content_type.start_with?('image/') %>
      <p>
        <strong>Image:</strong>
        <%= image_tag attachment %>
      </p>
    <% elsif attachment.blob.content_type.start_with?('audio/') %>
      <p>
        <strong>Audio:</strong>
        <%= audio_tag attachment %>
      </p>
    <% elsif attachment.blob.content_type.start_with?('video/') %>
      <p>
        <strong>Video:</strong>
        <%= video_tag attachment %>
      </p>
      <% elsif attachment.blob.content_type == 'application/msword' %>
  <p>
    <strong>Document:</strong>
    <iframe src="https://docs.google.com/gview?url=<%= rails_blob_url(attachment) %>&embedded=true" frameborder="0" width="100%" height="600"></iframe>
  </p>
<% elsif attachment.blob.content_type == 'application/pdf' %>
  <p>
    <strong>PDF:</strong>
    <%= link_to attachment.filename, rails_blob_path(attachment) %>
  </p>


    <% else %>
      <p>
        <strong>Attachment:</strong>
        <%= link_to attachment.filename, rails_blob_path(attachment) %>
      </p>
    <% end %>
  <% end %>
  

  <%= form_with(url: share_note_path(note), method: :post, class: "share-form") do |form| %>
    <div>
      <%= form.label :recipient_email, "Recipient's Email" %>
      <%= form.email_field :recipient_email %>
    </div>
    <div>
      <button>
  <div class="svg-wrapper-1">
    <div class="svg-wrapper">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  <span>Send</span>
</button>
      <%= form.submit 'Share', class: 'share-button' %>
    </div>
  <% end %>
</div>
