<div id="<%= dom_id note %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= note.body %>
  </p>
  <p>
    <strong>Tags:</strong>
    <%= note.tags.join(", ") %>
  </p>
  <!--paragraph showing the reminder if present -->
  
    
    <% if note.reminder.present? %>
    <p>
<strong>Reminder:</strong>
<%= note.reminder %>
 </p>
    <%end%>
    <%= button_to "Share", share_note_path(note), method: :post, class: "share-button" %>

   
</div>
