<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="<%= asset_path('main.css') %>">
  <script src="<%= asset_path('libs/gsap/gsap.min.js') %>" defer></script>
  <script src="<%= asset_path('libs/gsap/ScrollTrigger.min.js') %>" defer></script>
  <script src="<%= asset_path('libs/gsap/ScrollSmoother.min.js') %>" defer></script>
  <script src="<%= asset_path('app.js') %>" defer></script>
</head>

<div class="wrapper">
  <div class="content">
    <header class="main-header">
      <div class="layers">
        <div class="layer__header">
          <div class="layers__caption">Welcome to Notewise</div>
          <div class="layers__title">Notes To Life</div>
        </div>
        <div class="layer layers__base" style="background-image: url(<%= asset_path('img/layer-base.png', type: :image) %>);"></div>
        <div class="layer layers__middle" style="background-image: url(<%= asset_path('img/layer-middle.png', type: :image) %>);"></div>
        <div class="layer layers__front" style="background-image: url(<%= asset_path('img/layer-front.png', type: :image) %>);"></div>
      </div>
    </header>
    <article class="main-article" style="background-image: url(<%= asset_path('img/dungeon.jpg', type: :image) %>);">
      <div class="main-article__content">
        <h2 class="main-article__header">Sign Up</h2>
        <p class="main-article__paragraph">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field" style="margin-bottom: 5px;">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign Up", class: "login-signup-button" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </p>
      </div>
    </article>
  </div>
</div>
